<%= render 'pages/components/_section', title: 'Overflow mask (atom)' do %>
  <div class="components-page-overflow-mask overflow-mask">
    Overflow Mask is an atom-component which allows to progresivelly display
    a horizontally or vertically long content by allowing an inner scroll
    and applying overflow masks on the container edges where it is meaningful.
    Probably resize the window to try it out here.
  </div>
<% end %>
