<%
  content_for :header_hide, true
  content_for :footer_hide, true
%>

<header class="components-page-header">
  <h1>Components</h1>
</header>

<%= render 'pages/components/styled' %>

<%= render 'pages/components/button' %>

<%= render 'pages/components/default_modal' %>

<%= render 'pages/components/overflow_mask' %>
