// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

.form-range {
  $track-color: $color-black !default;
  $thumb-color: $color-black !default;

  $thumb-radius: 50% !default;
  $thumb-height: 20 !default;
  $thumb-width: 20 !default;
  $thumb-shadow-size: 0 !default;
  $thumb-shadow-blur: 0 !default;
  $thumb-shadow-color: rgba(0, 0, 0, 0) !default;
  $thumb-border-width: 0 !default;
  $thumb-border-color: rgba(0, 0, 0, 0) !default;

  $track-width: 100% !default;
  $track-height: 2 !default;
  $track-shadow-size: 0 !default;
  $track-shadow-blur: 0 !default;
  $track-shadow-color: rgba(0, 0, 0, 0) !default;
  $track-border-width: 0 !default;
  $track-border-color: rgba(0, 0, 0, 0) !default;

  $track-radius: em(5) !default;
  $contrast: 5% !default;

  $ie-bottom-track-color: darken($track-color, $contrast) !default;

  @mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: em($shadow-size $shadow-size $shadow-blur) $shadow-color,
      0 0 em($shadow-size) lighten($shadow-color, 5%);
  }

  @mixin track {
    width: em($track-width);
    height: em($track-height);
    cursor: default;
    transition: all 0.2s ease;
  }

  @mixin thumb {
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );

    background: $thumb-color;
    border: em($thumb-border-width) solid $thumb-border-color;
    border-radius: $thumb-radius;
    box-sizing: border-box;
    cursor: ew-resize;
    height: em($thumb-height);
    width: em($thumb-width);
  }

  -webkit-appearance: none;
  background: transparent;
  margin: em($thumb-height / 2) 0;
  width: em($track-width);

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );

    background: $track-color;
    border: em($track-border-width) solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;

    -webkit-appearance: none;
    margin-top: em(
      (-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2
    );
  }

  &::-moz-range-track {
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
    @include track;

    background: $track-color;
    border: em($track-border-width) solid $track-border-color;
    border-radius: $track-radius;
    height: em($track-height / 2);
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;

    background: transparent;
    border-color: transparent;
    border-width: em($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );

    background: $ie-bottom-track-color;
    border: em($track-border-width) solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );

    background: $track-color;
    border: em($track-border-width) solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;

    margin-top: em($track-height / 4);
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}
